
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambia a flex-start para evitar que el contenido quede centrado en el viewport */
    height: 100vh;
    background-color: #f2f2f2;
}

.contenedor_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    margin-top: 250px; /* Añade margen superior para que el contenido se separe del header */
}

.login-box {
    background: linear-gradient(90deg, #4CAF50, #509ea8);
    border-radius: 10px;
    padding: 40px;
    width: 450px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.login-box a {
    text-decoration: none;
}

/* Título y subtítulo */
h2 {
    color: white;
    margin-bottom: 10px;
}

p {
    color: white;
    margin-bottom: 30px;
}

/* Estilos de los campos de entrada */
.input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
}

.icono {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    font-size: 16px;
    color: #333;
}

/* Estilos del botón de envío */
button {
    width: 100%;
    padding: 15px;
    background-color: #6bd084;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0e8027;
}

/* Estilos para el campo "Tipo de usuario" */
.input label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.3rem;
    display: block;
    font-weight: bold;
}

.input select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.input select:focus {
    border-color: #b2f6b7;
    outline: none;
}

.alert {
    font-size: 12px;
    font-family: Arial, Helvetica;
    line-height: 1.2;
    padding: 5px;
    margin: 5px 0;
    color: #d9534f;
    display: none; 
}

/* Estilo para mostrar errores en rojo */
.error-message {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.parrafo {
    color: black; 
    background-color: #6bd084;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}