.trayectoria-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

/* Detalles de la trayectoria */
.trayectoria-details {
    margin-right: 20px;
    flex: 1;
    color: #333 !important;  
    font-size: 16px; 
}

.trayectoria-card h5,
.trayectoria-card p {
    color: #333 !important;
}

.map-container {
    width: 50%;
    height: 300px;
    border-radius: 3px;
    border: 2px solid #4CAF50; 
    box-shadow: 0 6px 12px rgba(0, 128, 0, 0.2); 
    padding: 5px;
}

@media (max-width: 767px) {
    .trayectoria-card {
        flex-direction: column; 
    }

    .map-container {
        height: 250px;
        margin-top: 15px;
    }

    .trayectoria-details {
        margin-right: 0;
    }
}
